@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TutorSchedules.Utilities
@model IndexModel
@{
  ViewData["Title"] = "Dashboard";
}
<script src="~/js/site.js"></script>

<a href="/counter" class="btn btn-primary">Counter</a>
<a href="/weather" class="btn btn-primary">Weather</a>

<div class="container">
  <div class="row">
    <form method="post" class="shadow-lg p-3" >
      <label asp-for="SubjectId">Subject:</label>
      <select asp-for="SubjectId" asp-items="Model.SubjectList" type="text" value="@Model.Subject?.Name"></select>
      <div class="form-check form-switch my-2">
        <label class="form-check-label" asp-for="UseCustomTime">Use Custom Time? </label>
        <input asp-for="UseCustomTime" class="form-check-input" type="checkbox" id="CustomTimeVisible"/>
      </div>
      <div class="collapse" id="CustomTimeInfo">
        <label asp-for="CustomWeekDay">Weekday</label>
        <select asp-for="CustomWeekDay" asp-items="Model.OpenWeekDays"></select>
        <span><label asp-for="CustomTime">Time:</label></span>
        <input asp-for="CustomTime" type="time" value="08:00"/>
      </div>
      <button type="submit" class="btn btn-success my-2">Update List</button>
    </form>
  </div>
  <div class="row shadow-lg my-4 p-3">
    <h1>@Model.ActiveTutors.Count Tutors available at @Model.TimeToUse on @Model.WeekdayToUse</h1>
    <div class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Arrival Time</th>
          <th>Departure Time</th>
          @if (Model.ShowSubject)
          {
            <th>@Model.Subject.Name Comfort Level</th>
          }
        </tr>
        </thead>
        <tbody>
        @foreach (var row in Model.ActiveTutors)
        {
          <tr class="">
            <td>@row.TutorName</td>
            <td>@row.ArrivalDisplay</td>
            <td>@row.DepartureString</td>
            @if (Model.ShowSubject)
            {
              <td style="background-color: @ComfortColors.GetColor(row.SubjectConfidence); border-radius: 5px; ">@(row.SubjectConfidence is null ? "?" : $"{row.SubjectConfidence.Value}")</td>
            }
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>